@use '../../styles/global.scss' as v;

.btn {

  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  padding: 0.4em 1em;
  width: fit-content;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  color: white;
  background-color: black;
  
  &.greyed {
    color: white;
    background-color: black;

    &:hover {
      background-color: grey;
    }
  }

  &:hover {
    background-color: grey;
  }

  span {
    display: flex;
    align-items: center;
    user-select: none;
  }
}